<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/common :: head('게시판')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" th:href="@{/starter-template.css}" rel="stylesheet">

    <title>게시판</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('board')">
</nav>

<form action="#" th:action="@{/board/form}" th:object="${board}" method="post">
    <input type="hidden" th:field="*{id}">

    <div class="form-group">
        <label for="author" class="form-label">작성자</label>
        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('author')} ? 'is-invalid'"
               th:field="*{author}" id="author" placeholder="작성자" >
        <div class="invalid-feedback" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">
            10자 이내로 적어주세요.
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="form-label">제목</label>
        <input type="text" class="form-control" th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'"
               th:field="*{title}" id="title" placeholder="제목" >
        <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
            100자 이내로 적어주세요.
        </div>
    </div>

    <div class="form-group">
        <label for="content" class="form-label">내용</label>
        <textarea class="form-control" th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'"
                  th:field="*{content}" id="content" rows="3" ></textarea>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
            400자 이내로 적어주세요.
        </div>
    </div>

    <div class="row">
        <div class="col-auto">
            <a type="button" class="btn btn-primary" th:href="@{/board/list}">취소</a>
            <button class="btn btn-primary" type="submit" value="글쓰기">확인</button>
        </div>
    </div>

</form>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</html>